* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-bar {
    background-color: rgb(223, 227, 235);
    position: fixed;
    width: 100%;
    height: 12vh;
}

.nav-links {
    display: flex;
}

.nav-links .nav-shop {
    padding: 18px 30px;
}

.nav-bar header {
    display: flex;
    justify-content: space-around;
    gap: 40%;
    padding: 20px 0px;
}

.nav-bar img {
    width: 80px;
}

.nav-bar a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
    padding-top: 15px;
}

.hero-section .hero{
    background-image: url(./images/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    text-align: center;
    color: white;
    padding: 130px;
}

.hero-section h1 {
    font-size: 50px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 160px;
}

.shop img {
    border: 1px solid rgb(216, 212, 212);
    border-radius: 18px;
    object-fit: cover;
    width: 250px;
    height: 300px;
}

.shop .cart {
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0 0 10px rgb(207, 206, 205);
    border-radius: 18px;
    padding: 10px;
}

.cart .resize {
    width: 200px;
    height: 300px;
    align-items: center;
}

.cart .star {
    font-size: 12px;
    color: yellow;
}

.cart .add-cart {
    display: flex;
    justify-content: space-between;
}

.cart h3 {
    color: green;
}

.cart a {
    color: green;
}

.next a {
    color: white;
    text-decoration: none;
}

.next {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.next .next-pg{
    border: 1px solid green;
    background-color: green;
    padding: 15px;
    border-radius: 6px;
    text-decoration: none;
}

.newsletter {
    background-image: url(./images/banner\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}

.newsletter h2, p {
    padding-left: 30px;
    color: white;
    font-weight: 600;
}

.newsletter span {
    color: gold;
}

.newsletter input {
    width: 90%;
    height: 45px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.newsletter button {
    width: 100px;
    height: 45px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: green;
    font-weight: 600;
    color: white;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 70px 70px 300px 30px;
}

.information img {
    width: 100px;
}

.information a {
    text-decoration: none;
    color: rgb(48, 46, 46);
    font-size: 18px;
    line-height: 1.8;
}

.information h5 {
    font-size: 18px;
    padding: 10px 0px;
}

.information span {
    font-size: 18px;
    color: rgb(68, 67, 67);
    line-height: 1.8;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 40px;
    gap: 10px;
    border: 1px solid green;
    border-radius: 10px;
}

.down-link {
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}

.download img {
    width: 30px;
    height: 40px;
    padding-bottom: 10px;
}

.download h5, h6 {
    color: rgb(109, 108, 108);
}

.download span{
    color: black;
}

.pay img {
    width: 60px;
    height: 40px;
}

.icon {
    display: none;
}

@media (max-width: 768px) {
    .icon {
        display: block;
        padding: 19px;
    }

    .nav-bar li {
        display: none;
    }

    .nav-bar header {
        display: flex;
        justify-content: space-between;
    }

    .nav-links .nav-shop {
        padding-left: 60px;
    }

    .hero-section .hero {
        justify-items: center;
        width: 100%;
    }

    .hero-section p {
        text-align: center;
        width: 350px;
    }

    .hero-section .hero{
        text-align: center;
    }

    .shop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .shop img {
        width: 150px;
        height: 200px;
    }

    .cart .star {
        font-size: 8px;
    }

    .cart h4, figcaption, h3, a{
        font-size: 12px;
    }

    .next .next-pg{
        padding: 10px;
    }

    .newsletter form {
        width: 80%;
        padding-left: 30px;
    }

    .information footer {
        flex-direction: column;
    }

    .download {
        padding: 13px 10px;
    }

    .download img {
        width: 20px;
        height: 30px;
    }

    .download h6 {
        font-size: 10px;
    }

    .download h5 {
        font-size: 15px;
    }

    .download span {
        font-size: 15px;
    }

    .pay img {
        width: 40px;
        height: 20px;
    }
}